{% extends "layout.html" %}
{% block body%}
	<div class="home-header">
		<a href="/quote">Quote</a> &nbsp; &nbsp;
		<a href="/buy">Buy</a> &nbsp; &nbsp;
		<a href="/sell">Sell</a> &nbsp; &nbsp;
		<a href="/history">History</a>
		<button style="float: right;"><a href="/logout">Log out</a></button>
	</div>
	<br><br>
	<div class="user">
		<br><br>
		<form action="/buy", method="post">
			<input type="text" placeholder="Company Symbol", name="stock">
			<br><br>
			<input type="text" placeholder="Number of Shares", name="share">
			<br><br>
			<button>Buy</button>
		<br><br>
		{{ warning }}
		</form>
	</div>


{% endblock%}
